*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.dvi
*.pdf
*.run.xml
*.bcf
*-blx.bib
_minted-*/

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg
